.progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 60%;
    height: 30vh;
    margin-top: 20px;
    margin-left:20%;
    padding: 0.5em 0em;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    background: white;
  }
  .progress-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5em 0.8em;
    padding: 0em 0.75em;
    overflow: hidden;
    width: 90%;
  }
  .progress-outer {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    height: 14vh;
    width: 100%;
    border: none;
    margin: 0em 1em;
  }
  .progress-inner {
    border-right: 2px solid darkgray;
    text-align: left;
    height: 9vh;
    width: 100%;
    padding: 1em 3em;
  }
  .progress-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2em 1em;
    background: white;
  }
  
  @media screen and (max-width: 960px) {
    .progress-container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 90%;
        height: 50%;
        margin-top: 20px;
        margin-left:5%;
        padding: 0.5em 0em;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
        border: 1px solid white;
        background: white;
      }
      .progress-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0.5em 0.8em;
        padding: 0em 0.75em;
        overflow: hidden;
        width: 100%;
      }
      .progress-outer {
        display: flex;
        flex-direction: row;
        justify-content: stretch;
        align-items: center;
        height: 14vh;
        width: 100%;
        border: none;
        margin: 0em 1em;
      }
      .progress-inner {
        border-right: 2px solid darkgray;
        text-align: center;
        height: 8vh;
        width: 100%;
        padding: 1em 3em;
      }
      .progress-bar {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 2em 1em;
        background: white;
      }
    }

    @media screen and (max-width: 768px) {
        .progress-container {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 90%;
            height: 50%;
            margin-top: 20px;
            margin-left:5%;
            padding: 0.5em 0em;
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
            border: 0px solid white;
            background: white;
          }
          .progress-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0.5em 0.8em;
            padding: 0em 0.75em;
            overflow: hidden;
            width: 100%;
          }
          .progress-outer {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            align-items: center;
            height: 24vh;
            width: 100%;
            margin: 0em 1em;
          }
          .progress-inner {
            text-align: center;
            height: 8vh;
            width: 100%;
            padding: 1em 3em;
          }
          .progress-bar {
            display: flex;
            justify-content: center;
            width: 100%;
            padding: 2em 1em;
            background: white;
          }
        }